body, p, h3, h4 {
  margin: 0;
}

div#controls {
  background-color: #ddd;
  border: solid 0.0165em black;
  border-radius: 1em;
  width: 75%;
  margin: 2em auto;
  padding: 1em 2em;
}
div#controls p.control-label {
  display: inline-block;
  margin: 0.5em 0;
}
div#controls p.pad-left {
  padding-left: 1em;
}
div#controls span.block {
  display: block;
}

div.inline {
  display: inline-block;
  vertical-align: top;
}

div#gamemap {
  text-align: center;
}
div#gamemap div.tile {
  background-color: #ccc;
  display: inline-block;
  border: solid 0.165em black;
  margin: 0.15em;
}
